<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Product Manager</title>
</head>
<body>
	<div align="center">
		<h1>Product Manager</h1>
		<a href="new"> Create New Product </a>
		<table border="1">
			<tr>
				<th>Product ID</th>
				<th>Name</th>
				<th>Brand</th>
				<th>Made in</th>
				<th>Price</th>
				<th>Actions</th>				
			</tr>
			<tr th:each="product:${products}">
				<td th:text="${product.id}">id</td>
				<td th:text="${product.name}">name</td>
				<td th:text="${product.brand}">brand</td>
				<td th:text="${product.madein}">madein</td>
				<td th:text="${product.price}">price</td>
				<td ><a th:href="@{'/edit/'+${product.id}}">Edit</a>&nbsp;&nbsp;&nbsp; <a th:href="@{'/delete/'+${product.id}}">Delete</a></td>
			</tr>
		</table>
	</div>
</body>
</html>